header{
    width:100%;
    height: 100vh;
    background-image: url(../../public/images/background-trial2.png);
    background-size: 50% 95%;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

.container{
    padding:10px 10%;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width:150px;
}

nav ul {
    padding-left: 450px;
}

nav ul li{
    display:inline-block;
    margin:10px 30px;
}

nav ul li a{
    color:#ffffff;
    text-decoration: none;
    font-size:18px;
    position:relative;
}

nav ul li a::after{
    content: '';
    width:0;
    height:3px;
    background: #105DCD;
    position: absolute;
    left: 0;
    bottom:-5px;
    transition:0.5s;
}

nav ul li a:hover::after{
    width:100%;
}

.header-text{
    font-size: 30px;
    margin-top:20%
}

.header-text h1{
    font-size: 60px;
    margin-top:20px;
}

.header-text h1 span{
    color:#105DCD;
}

.menu img{
    width: 25px ;
    display: none;
}


@media only screen and (max-width: 600px){
    header{
        background-size: 0% 0%;
        height: 80vh;
    }
    .header-text{
        margin-top: 70%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav ul{
        background-color: #105DCD;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        padding-left: 0px;
        z-index : 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .menu{
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul li a{
        font-size:17px;
    }
    .menu img{
        display: block;
    }
}